<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
        <script src="../semantic/jquery.min.js"></script>
        <script src="../semantic/dist/semantic.min.js"></script>
	</head>

	<body>
        <div class="ui labeled icon menu">
            <a class="item"><i class="gamepad icon"></i> Games </a>
            <a class="item active"><i class="video camera icon"></i> Channels </a>
            <a class="item"><i class="video play icon"></i> Videos </a>
        </div>
		<div class="ui labeled button" tabindex="0">
			<div class="ui button"><i class="heart icon"></i> Like </div>
			<a class="ui basic label">
				2,048
			</a>
		</div>
		<div class="ui left labeled button" tabindex="0">
			<a class="ui basic right pointing label">
				2,048
			</a>
			<div class="ui button"><i class="heart icon"></i> Like </div>
		</div>
		<div class="ui left labeled button" tabindex="0">
			<a class="ui basic label">
				1,048
			</a>
			<div class="ui icon button">
				<i class="fork icon"></i>
			</div>
		</div>
		<br />
		<br />
		<div class="ui labeled button" tabindex="0">
			<div class="ui red button"><i class="heart icon"></i> Like </div>
			<a class="ui basic red left pointing label">
				1,048
			</a>
		</div>
		<div class="ui labeled button" tabindex="0">
			<div class="ui basic blue button"><i class="fork icon"></i> Forks </div>
			<a class="ui basic left pointing blue label">
				1,048
			</a>
		</div>
		<br />
		<br />
		<button class="ui icon button">
			<i class="cloud  red icon"></i>
		</button>

		<button class="ui labeled icon button">
			<i class="pause icon"></i> Pause
		</button>
		<button class="ui labeled icon button">
			Next
			<i class="right arrow icon"></i>
		</button>
	</body>

</html>